<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="DemoBlaze Suite">

    <listeners>
        <listener class-name="com.krce.listeners.TestListener"/>
    </listeners>

    <test name="DemoBlaze Tests">

        <classes>

            <class name="com.krce.tests.AuthenticationTest"/>
            <class name="com.krce.tests.ProductBrowseTest"/>
            <class name="com.krce.tests.CartTest"/>
            <class name="com.krce.tests.OrderTest"/>

        </classes>

    </test>

</suite>